---
import type { BlogPostFrontmatter } from "@types";
import Base from "@layouts/Base.astro";
import PostsLists from "@components/PostsList.astro";

let posts = await Astro.glob<BlogPostFrontmatter>('./*.md');


---
<Base title="Blog Posts">
    <h1 class="mb-8 text-6xl">Blog Posts</h1>

    <div>
        <PostsLists posts={posts} />
    </div>
</Base>