---
const items = [
    {
        title: 'Home',
        path: '/'
    },
    {
        title: 'Blog',
        path: '/posts'
    },
    {
        title: 'About',
        path: '/about'
    },
];
---
<div class="flex bg-black text-white items-center">
    <div class="font-bold text-lg ml-4">
        Ramblings of a Mad Man
    </div>

    <div class="ml-auto">
        <ul class="flex">
            {items.map(item => (
                <li><a class="p-4 block hover:bg-gray-700" href={item.path}>{item.title}</a></li>
            ))}
        </ul>
    </div>
</div>