---
import type { PostsOrPages } from '@tryghost/content-api';
import { formatDate } from '@utils';

interface Props {
    posts: PostsOrPages;
}

let { posts } = Astro.props;
---

{posts.map(post => (
    <div class="py-4 border-b first:border-t">
        <a class="text-blue-700 hover:underline" href={`/posts/${post.slug}`}>{post.title}</a>
        <p>{post.published_at && 
            formatDate(post.published_at)}</p>
    </div>
))}